.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
   width: 80px;
}
.main-logo{
    width: 100%;
}
.nav-items > ul{
    padding: 10px;
    display: flex;
    list-style-type: none;
}
li{
    padding: 10px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-item{
    padding: 5px;
    margin: 5px;
    width: 200px;
}
.card-item:hover{
    border: 1px solid black;
}
.food-image{
    width: 100%;
    height: 150px;
}
.food-name, .cuisine, .food-rating{
    margin: 5px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shimmer-card{
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
    height: 250px;
    width: 200px;
}